<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
    <body>
        <header th:replace="plantilla/template :: header"></header> 

        <!--APERTURA MUESTRA NOTICIA-->
        <div class="container" >
            <div class="row d-flex my-5" >
                <!--INICIO NOTICIA-->
                <div class="col-md-8 offset-md-2 mb-5 " style="border-bottom: 1px solid #000!important;">
                    <div class="tm-noticia-item" style="border-top: 4px solid #000!important">
                                                                    
                        <h3 th:text="${Article.sTitle}" style="border-bottom: 4px solid #000!important" class="text-uppercase p-3"></h3>

                        <img th:src="'/images/' + ${Article.image} + '.jpg'" class="img-fuid">

                        <p th:text="${Article.sBody}" class="py-4" style="text-align: justify;"></p>
                        
                    </div>
                </div>
                <!--FIN NOTICIA-->
            </div>
        </div>
        
        <footer th:replace="plantilla/template :: footer"></footer>
    </body>
</html>