<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>

<!--APERTURA MUESTRA NOTICIAS-->
<div class="container">
    <div class="row d-flex" >
        <!--INICIO LISTADO NOTICIAS-->
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" th:each="article : ${Article}">
            <div class="tm-noticia-item">
                <img src="src/main/resources/static/images/Cat03.jpg">
                <div class="text d-block">
                    <h1 th:text="${article.sTitle}" href="#"></h1>
                </div>
            </div>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">14 Oct 2020</span>
            </div>
        </div>
        <!--FIN LISTADO NOTICIAS-->
    </div>
</div>


<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>