<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
    <body>
        <header th:replace="plantilla/template :: header"></header> 

        <div class="container pt-5" >
            <h1>Noticias Recomendadas</h1>
            <div class="row d-flex pt-4 px-5" >
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2 " th:each="likedArticles : ${likedArticles}" style="border-bottom: 1px solid #4472C4!important;">
                        
                        <div class="tm-noticia-item" style="border-top: 4px solid #4472C4!important">
                        
                            <a th:href="'/favorites"><img th:src="'/images/' + ${likedArticles.image} + '.jpg'" class="img-fuid" ></a>
                            <div class="text d-block">
                                <a th:href="'/favorites" style="text-decoration: none; color: #343434;"><h5 th:text="${likedArticles.title}" ></h5></a>
                            </div>
                        </div>
                    </div>
            </div>
        
        <footer th:replace="plantilla/template :: footer"></footer>
    </body>
</html>